@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css");

ul.index li
{
	position:	relative;
	display:	block;
	padding:	0px;
}

ul.index li .glyphicon
{
	width: 1em;
	float: left;
	
	padding: 0.5em 1em;
}
ul.index li a
{
	padding: 0.5em 1em;
	display: block;
	margin-left: 2em;
}
